@import "./../../index.scss";
.hero-container {
    height: 600px;
    background-image: url('/hero-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(md) {
    .hero-container {
        .hero-content {
            width: 50vw;
        }
    }
}