@import "./../../index.scss";
.hero-container {
    height: 600px;
    background-image: url('/hero-image.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(md) {
    .hero-container {
        .hero-content {
            max-width: 570px;
        }
    }
}